body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}
.top{
    display: flex;
    padding: 80px   ;
    background-image:url(assets/top-banner.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center-left;
    margin bottom: 100px;
    
    
    
    
    
    
}
span{
    color: orange;
    ;
}
h1{
    font-size: 50px;
}
.top-sec{
    width: 50%;
    ;

}
p{
    width: ;
    margin-bottom: 40px

}

.top-sec img{
    width: 80%;
    
}
.button{
    text-decoration: none;
    
    color: aliceblue;
    margin-top: 20px;
    padding: 10px 25px ;
    border-radius: 5px;
    background-image: linear-gradient( tomato, orange);
    font-weight: 500;
    text-transform: uppercase;
    

}
.two{
    display: flex;;
    padding: 80px   ;
    background-image:url(assets/dream-bg.png);
    background-repeat: no-repeat;
    background-size: ;
    background-position: right
    
}
.two-sec{
    width: 50%;
}
.two-sec img{
    width: 80%;
}
.exp-sec{
    display: flex;
    margin-bottom: 100px;
    background-image: url(assets/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    z-index: 9;
}
.exp-sec1{
    text-align: center;
    margin-bottom: 50px;
    display:block;
    width: 100%;
    align-items: center;

    
}
.collam1{
    width: 50%;
    
    margin: 0PX 50px;
    padding-left: 80px;
    border-left: solid rgb(13, 197, 230) 10px;
    box-shadow: 10px 5px 10px 10px rgba(109, 107, 107, 0.199)
    
    

}
.collam2{
    width: 50%;
    
    margin: 0PX 50px;
    padding-left: 80px;
    border-left: solid rgb(233, 178, 27) 10px;
    box-shadow: 10px 5px 10px 10px rgba(109, 107, 107, 0.199)

}
.collam1 H4{
    color: orange;
}
.collam2 H4{
    color: orange;
}
.foot{
    width: 100%;
}
.copi{
    text-align: center;
    font-weight: 200;
}