body{
    font-family: 'Roboto', sans-serif;
    
}
section{
    display: flex;
}
span{
    color: orange;
    ;
}
h1{
    font-size: 50px;
}
.top-sec{
    width: 50%;
    padding: 3%;

}
.top-sec p{
    width: 70%;
    margin-bottom: 40px

}

.top-sec img{
    width: 80%;
    
}
.button{
    text-decoration: none;
    
    color: aliceblue;
    margin-top: 20px;
    padding: 10px 25px ;
    border-radius: 5px;
    background-image: linear-gradient( tomato, orange);
    font-weight: 500;
    

}