body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}
.top{
    display: flex;
    padding: 80px   ;
    background-image:url(assets/top-banner.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center-left;
    margin bottom: 100px;
    
    
    
    
    
    
}
span{
    color: orange;
    ;
}
h1{
    font-size: 50px;
}
.top-sec{
    width: 50%;
    ;

}
p{
    width: 70%;
    margin-bottom: 40px

}

.top-sec img{
    width: 80%;
    
}
.button{
    text-decoration: none;
    
    color: aliceblue;
    margin-top: 20px;
    padding: 10px 25px ;
    border-radius: 5px;
    background-image: linear-gradient( tomato, orange);
    font-weight: 500;
    text-transform: uppercase;
    

}
.two{
    display: flex;;
    padding: 80px   ;
    background-image:url(assets/dream-bg.png);
    background-repeat: no-repeat;
    background-size: ;
    background-position: right
    
}
.two-sec{
    width: 50%;
}
.two-sec img{
    width: 80%;
}